In [11]:
import pandas as pd
import matplotlib.pyplot as plt

try:
    df = pd.read_csv('../data/processed/countries_population_extended.csv', sep=",")
    print("Successfully loaded the data!")
except Exception as e:
    print("Failed to load data!")
    print(e)

df.head()

Successfully loaded the data!

   Unnamed: 0                 Country Name    Year   Population
0       10640                        Aruba  2000.0      90588.0
1       10641  Africa Eastern and Southern  2000.0  406156661.0
2       10642                  Afghanistan  2000.0   20130327.0
3       10643   Africa Western and Central  2000.0  274968446.0
4       10644                       Angola  2000.0   16194869.0

In [12]:
rows, columns = df.shape
print(f"Rows: {rows}")
print(f"Columns: {columns}")

Rows: 6650
Columns: 4

In [13]:
df.Population.mean()

np.float64(288678256.80166036)

In [14]:
df.Population.max()

np.float64(8141808945.0)

In [15]:
df.Population.min()

np.float64(9544.0)